.popular{
    margin: 80px auto;
}
.slider {
    width: 300px;
    height: 400px;
    overflow: hidden;
    border: 10px solid white;
    border-radius: 5px;
    margin: auto;
}
.slides {
    display: flex;
    flex-direction: row;
    width: 400%;
    height: 400px;
    animation: slide 20s ease-in infinite;
}
.slide   img {
    width: 300px;
    height: 100%;
}
@keyframes slide {
    0% { margin-left: 0;}
    21% {margin-left: 0;}
    25% {margin-left: -100%;}
    46% {margin-left: -100%;}
    50% {margin-left: -200%;}
    71% {margin-left: -200%;}
    75% {margin-left: -300%;}
    95% {margin-left: -300%;}
    100% {margin-left: 0;}
}
